.search {
  color: #fff;
}
.search__container {
  max-width: 75rem;
}
.search__content {
  background-color: rgba(12, 18, 48, 0.8666666667);
  border-radius: 0.75rem;
  padding: 1.25rem;
  -webkit-box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.4);
}
.search__input {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0.75rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 1.5rem;
}
.search__input label {
  grid-column: 1/-1;
  font-size: 0.875rem;
  opacity: 0.8;
}
.search__input input {
  padding: 0.625rem 0.75rem;
  border-radius: 0.375rem;
  background-color: #020617;
  border: 1px solid #1e293b;
  color: #fff;
}
.search__input input:focus {
  outline: none;
  border-color: #3b82f6;
}
.search .result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #1e293b;
}