html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  min-height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option,
a {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
  background: linear-gradient(145deg, #09249b, rgba(2, 6, 23, 0.8666666667));
}
.wrapper .page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wrapper .page section:not(:last-child) {
  margin-bottom: 1.25rem;
}
.wrapper .header,
.wrapper .footer {
  color: #fff;
  font-size: 1.875rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(12, 18, 48, 0.8666666667);
  text-align: center;
  padding: 1.875rem;
}
.wrapper .header {
  margin-bottom: 3.125rem;
}

[class*=__container] {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}