@use "./_reset";
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: clip;
	background: linear-gradient(145deg, #09249b, #020617dd);
	& .page {
		flex-grow: 1;
		& section:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	& .header,
	.footer {
		color: #fff;
		font-size: 1.875rem;
		font-family: Arial, Helvetica, sans-serif;
		background-color: #0c1230dd;
		text-align: center;
		padding: 1.875rem;
	}
	.header {
		margin-bottom: 3.125rem;
	}
}

[class*="__container"] {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}
